{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">Africa</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">Asia</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">Australia</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">Europe</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">North America</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="#" role="button">South America</a>
        </div>
    </div>
</div>
{% endblock %}