{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <br><br><br>
    <form name="form" method="post" action="{% url 'storeemp' %}">
        {% csrf_token %}
        <div class="mb-3">
        <label for='emp_first'>Enter the first name:</label>
        <input type="text" name='emp_first' id='emp_first'>
        <br><br>
        </div>
        <label for='emp_last'>Enter the last name:</label>
        <input type="text" name='emp_last' id='emp_last'>
        <br><br>
        <label for='emp_title'>Enter the title:</label>
        <select name="emp_title">
            {% for emptitle, empdesc in titles %}
                <option value="{{ emptitle }}">{{ empdesc }}</option>
            {% endfor %} </select>
        <br><br>
        <label for='emp_state'>Select the state:</label>
        <select name="emp_state">
            {% for state_info in states %}
                <option value="{{ state_info.state_abbrev }}">{{ state_info.state_description }}</option>
            {% endfor %} </select>
        <br><br>
        <label for='contact_info'>Enter the contact information:</label>
        <input type="text" name='contact_info' id='contact_info'>
        <br><br>
        <button type="submit">Search</button>
    </form>
</div>
{% endblock %}