{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
  <div class="container">
    <form name="form" method="get" action="{% url 'searchemp' %}">
        <label for='first_name'>Enter the first name:</label>
        <input type="text" name='first_name' id='first_name'>
        <br><br>
        <label for='last_name'>Enter the last name:</label>
        <input type="text" name='last_name' id='last_name'>
        <br><br>
        <button type="submit">Search</button>
    </form>
  </div>
</header>
{% endblock %}