{% extends 'base.html' %}
{% load static %}
{% block content %}


  <div class="container">
    <h1><b>CUSTOMER LIST</b></h1>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'addCustomer' %}">New Customer</a>
    <br><br>
    {% for customer in cust %}
      <p>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'showSingleCustomer' cust_id=customer.id %}">Edit</a>
        {{ customer.last_name }}, {{ customer.first_name }}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'deleteCustomer' cust_id=customer.id %}">Delete</a>
      </p>
    {% endfor %}
  </div>
{% endblock %}